<h1>Survey</h1>

<div class="survey_form">
  <%= form_tag do %>
    <%= check_box_tag(:like_you) %>
    <%= label_tag(:like_you, "I like you guys") %>
    <%= check_box_tag(:love_you) %>
    <%= label_tag(:love_you, "I love you guys!") %>

	<div>
	  <%= submit_tag "Submit" %>
    </div>
  <% end %>
</div>
