<!DOCTYPE html>
<html>
<head>
  <title>Gibbons</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<div class="navbar">
	  <div class="navbar-inner">
	    <a class="brand" href="#">Gibbons</a>
	    <ul class="nav">
			<li><%= link_to 'Home', '/' %></li>
			<li><%= link_to 'About Us', 'aboutUs' %></li>
			<li><%= link_to 'Contact Us', 'contactUs' %></li>
			<li><%= link_to 'Terms & Conditions', 'termsConditions' %></li>
	    </ul>
	  </div>
	</div>
</header>
<%= yield %>

</body>
</html>
